nav{
  background: linear-gradient(to bottom right, white, lightblue);
  /* height: 100vh; */
  margin: 0;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.video-container {
  margin: 10px;
}
video {
  width: 150px; /* Adjust width as needed */
  height: auto;
}
